img.img-thumbnail {
  height:100px;
  min-width:100px !Important;
  margin-bottom: 2px;
}

.card {
  border:dotted 2px gray;
}

.nv-file-over {
  border:dotted 2px red;
  color:gray;
}

input[type=file] {
  color:transparent;
}
